<!DOCTYPE html>
<html lang="en">
<head>
  <l1ink rel="stylesheet" href="../css/header.css" type="text/css" media="all" />
</head>
<body>
  <p>&copy; Copyright 2022 JyotiKabir: E-Bazaar of India</p>
</body>
</html>