<link rel="stylesheet" href="/css/header.css" />
<header>
  <h1>E-Bazaar of India</h1>
  <div id="buttons">
    <button class="material-icons" onclick="menuSearchClicked()">search</button>
    <button class="material-icons" onclick="menuClicked()">menu</button>
  </div>

  <form id="search" action="/search" method="GET">
    <input value="<%- searchQuery %>" type="text" name="q" id="searchInp" placeholder="search..." />
    <button id="searchBtn" class="material-icons darkBtn" type="submit">search</button>
  </form>

  <nav>
    <a>Home</a>
    <a>About</a>
    <a>Login or SignUp</a>
  </nav>
</header>
<script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
  <% if (searchQuery != "") {%>
    <script type="text/javascript" charset="utf-8">menuSearchClicked()</script>
  <% } %>