<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/header.css" />
</head>
<body>
  <header>
    <h1>E-Bazaar of India</h1>
    <div id="buttons">
      <button class="material-icons" onclick="menuSearchClicked()">search</button>
      <button class="material-icons" onclick="menuClicked()">menu</button>
    </div>
    
    <div id="search">
      <input type="text" id="searchInp" placeholder="search..." />
      <button id="searchBtn" class="material-icons darkBtn">search</button>
    </div>
    
    <nav>
      <a>Home</a>
      <a>About</a>
    </nav>
  </header>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>