<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/globalHead'); %>
</head>
<body>
  <%- include('partials/header', {searchQuery: ''}); %>
  
  <h1 class="heading">About us</h1>
  
  <%- include('partials/footer'); %>
</body>
</html>