:root {
  /* --bgColor: #e6ffe5; */
  --bgColor: #e5ebff;
  --bgColorDark: #d2dcff;
  /* --bgColorBtn: #e5ebff20; */
  /* --color: #007302; */
  --color: #001b73;
  --headerPadding: 0.7rem;
  --headerFontSize: 1.7rem;
  --transitionDelay: 0.4s;
  --navAHeight: 2.2rem;
  --searchElemsHeight: 2.5rem;
  --borderWidth: 0.2rem;
}
body {
  margin: 0;
  background: var(--bgColor);
}
* {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}
.heading {
  font-size: 1.2rem;
  font-weight: 600;
  padding-inline-start: var(--headerPadding);
  margin-block: 0.6rem;
}

footer {
  font-size: 0.8rem;
}

button, a {
  background: transparent;
  border: 0;
  border-radius: 0.2rem;
  transition: background var(--transitionDelay);
}
button:hover, a:hover {
  background: var(--color) !important;
  color: var(--bgColor) !important;
}
.darkBtn {
  color: var(--bgColor) !important;
  background: var(--color) !important;
}
.darkBtn:hover {
  color: var(--color) !important;
  background: var(--bgColorDark) !important;
}