/* HEADER */
header {
  height: var(--headerFontSize);
  background: var(--bgColor);
  margin: 0;
  height: auto;
  border-bottom: var(--borderWidth) solid var(--color);
  padding: var(--headerPadding);
}
header h1 {
  font-size: var(--headerFontSize);
  line-height: var(--headerFontSize);
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  margin: 0;
  display: inline-block;
}
  /* HEADER BUTTONS */
header #buttons {
  position: absolute; 
  right: var(--headerPadding);
  /* float: right; */
  display: inline-block;
}
header #buttons button {
  line-height: var(--headerFontSize);
  font-size: var(--headerFontSize) !important;
  padding: 0;
}
  /* HEADER SEARCH */
header #search {
  background: var(--color);
  border-radius: 0.4rem;
  height: 0;
  overflow: hidden;
}
header #search * {
  color: var(--bgColor);
}
header #search #searchInp::-webkit-input-placeholder {
  color: var(--bgColor);
}
header #search #searchInp:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--bgColor);
  opacity: 1;
}
header #search #searchInp::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--bgColor);
  opacity: 1;
}
header #search #searchInp:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--bgColor);
}
header #search #searchInp {
  width: 76vw;
  font-size: 1rem;
  background: transparent;
  border: 0;
  height: var(--searchElemsHeight);
  line-height: var(--searchElemsHeight);
  padding: 0;
  padding-inline: var(--headerPadding);
}
header #search #searchBtn {
  width: var(--searchElemsHeight);
  height: var(--searchElemsHeight);
  float: right;
  border-radius: 0;
}
  /* HEADER NAV */
header nav {
  height: 0;
  overflow: hidden;
  text-align: center;
}
header nav a {
  display: block;
  font-size: 1rem;
  height: var(--navAHeight);
  line-height: var(--navAHeight);
  /* width: auto; */
  text-align: center;
  border-radius: 0.2rem;
}
header nav a:active, button:active {
  background: var(--color) !important;
  color: var(--bgColor) !important;
}