:root {
  --productWidth: 46vw;
  --productHeight: calc(2.7 * var(--productWidth) / 2);
}

/*body {*/

/*}*/
.product {
  background: var(--bgColorDark);
  margin-block-end: var(--headerPadding);
  margin-inline-start: 2.2vw;
  border-radius: 0.8rem;
  width: var(--productWidth);
  height: var(--productHeight);
  display: inline-block;
  overflow: hidden;
}
.product .productImg {
  width: var(--productWidth);
  height: var(--productWidth);
}
.product .productInfo {
  padding-inline-start: 2vw;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  width: 100%;
  height: calc(var(--productHeight) - var(--productWidth));
}
.product .productTitle {
  font-weight: 510;
  font-size: 4.2vw;
}
.product .productPrice {
  font-family: Sans-Serif;
  font-size: 4vw;
}
.product .productPrice * {
  font-style: italic;
  font-size: 3vw;
  opacity: 0.5;
  font-weight: 530;
}