:root {
  --productWidth: 46vw;
  --productHeight: calc(2.7 * var(--productWidth) / 2);
}

/*body {*/

/*}*/
.product {
  background: var(--bgColorDark);
  margin-block-end: var(--headerPadding);
  margin-inline: auto;
  border-radius: 0.8rem;
  /* width: var(--productWidth); */
  width: 95vw;
  /* height: var(--productHeight); */
  display: inline-block;
  overflow: hidden;
  display: flex;
}
.product .productImg {
  /* width: var(--productWidth); */
  height: auto;
  /* height: auto; */
  /*width: var(--productWidth);*/
  width: 30vw;
}
.product .productInfo {
  height: 100%;
  /* margin-block: auto; */
  padding: 2.2vw;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  /* width: 100%; */
  /* height: calc(var(--productHeight) - var(--productWidth)); */
}
.product .productTitle {
  font-weight: 510;
  font-size: 4.2vw;
  margin: auto;
}
.product .productPrice {
  font-family: Sans-Serif;
  font-size: 4vw;
  margin-block-start: auto;
}
.product .productPrice * {
  font-style: italic;
  font-size: 3vw;
  opacity: 0.5;
  font-weight: 530;
}

@media only screen and (max-width: 300px) { 
  .product { 
    width: 40vw !important;
  } 
}